version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: garage_postgres
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: garage
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
